<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.skule.froshapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="ca.skule.froshapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>
    <permission
        android:name="ca.skule.froshapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="ca.skule.froshapplication.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ca.skule.froshapplication.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.MapActivity2"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.ScheduleSwipeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.skule.froshapplication.DisplayEventActivity"
            android:label="@string/title_activity_display_event" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.EventListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.ListsActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.DayListActivity"
            android:label="@string/title_activity_day_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.ExpandingListActivity"
            android:label="@string/title_activity_expanding_list" >
        </activity>
        <receiver
            android:name="ca.skule.froshapplication.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ca.skule.froshapplication" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ca.skule.froshapplication.FTipListActivity"
            android:label="@string/title_ftip_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.FTipDetailActivity"
            android:label="@string/title_ftip_detail"
            android:parentActivityName=".FTipListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FTipListActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDN16iXacYIqZciuUHFZnGTfZqrAG-gw1A" />
    </application>

</manifest>