<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.skule.froshapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ca.skule.froshapplication.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.DayListActivity"
            android:label="@string/title_activity_day_list" >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.skule.froshapplication.DisplayEventActivity"
            android:label="@string/title_activity_display_event" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.EventListActivity"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.ListsActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="ca.skule.froshapplication.FTipsListActivity"
            android:label="@string/title_activity_ftips" >
        </activity>
    </application>

</manifest>